{% extends 'base.html' %}

{% block main%}
<h3>Signup Page</h3>

<form method="post">
  {% csrf_token %}
  <label for="">Username</label><br>
  <input type="text" name="username"><br>
  <label for="">Email</label><br>
  <input type="email" name="email"><br>
  <label for="">First Name</label><br>
  <input type="text" name="firstname"><br>
  <label for="">Last Name</label><br>
  <input type="text" name="lastname"><br>
  <label for="">Password</label><br> 
  <input type="password" name="password"><br>
  <label for="">Confirm Password</label><br>
  <input type="password" name="cpassword"><br>
  <button>Create Account</button>


</form>
{% endblock main%}